/*=====================================
RESET
=======================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1; font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000; }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}
.clearfix{ clear:both;}

/*=====================================
GENERAL
=======================================*/
body{background: #e1e1e1;}
#wrapper {margin:0 auto; width:1080px; padding:0 7px; background-color:#e1e1e1;}
a:hover{text-decoration:none;}

/*===HEADER===*/
#header{display:block; width:1025px; height:30px; background:#B9090B; clear:both; padding:0 25px 0 30px; position:relative;}
#header a.logo{ display:block; width:382px; height:0px; color:#FFF; text-indent:-9999px; float:left; background:url() no-repeat}
#header a.about{float:right; font-size:11px; color:#003a85; margin-top:10px; margin-right:50px;}
#header a.about.current{color:#F00; text-decoration:none;}
#header a.about.current:hover{text-decoration:underline;}
#header .form{position:absolute;right:25px;bottom:10px;}
#header input{width:206px; padding-left:10px; padding-right:10px; height:19px; background:url(img/searchinput.png) no-repeat; border:none; vertical-align:top; font-size:11px; color:#999; padding-top:6px;}
#header input.bt{border:none; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/btns.png) no-repeat; width:102px; height:25px; cursor:pointer; display:inline-block; margin-left:10px;}

/*==NAVIGATION CSS==*/
#menu-container{height:39px; width:1080px; font-size:12px; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/nav-bg.png) repeat-x; display:block;}
/*---NAV---*/
ul#nav {height:39px; width:1008px; padding-left:72px; float:left; z-index:9999; position:absolute; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/navdivider.png) no-repeat 69px top;}
ul#nav li {float:left; position:relative; padding-right:3px; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/navdivider.png) no-repeat top right;}
ul#nav li a {text-align:center; color:#FFF; text-decoration:none; line-height:39px; display:block; height:28px; line-height:39px; font-size:15px; /*added for ie6*/float:left; text-transform:capitalize; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/nav-bg.png) repeat-x;}
ul#nav li a img{ display:inline-block; width:8px; vertical-align:middle; padding-left:5px;}
ul#nav li ul {position:absolute; top:39px; left:0px; z-index:500; margin:0; width:150px; padding:0; background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/subnav-bg.png) repeat; display:none;}
ul#nav li ul.genres{width:660px;z-index:3;}
ul#nav li:hover ul {display:block;}
ul#nav li ul li {float:none; padding:0; background-image:none; border:none;}
ul#nav li ul li a {text-align:center; line-height:20px !important; min-height:20px; height:auto !important; height:20px; padding:0 10px; background-image:none; /*added for ie6*/float:none;}
/*---TOP LI---*/
ul#nav li a{ width:auto; padding:12px 28px 0;}
/*---TOP LI A:hover & TOP LI:hover A & TOP LI A.current---*/
ul#nav li:hover a, ul#nav li a.current, ul#nav li a.ie6hover{background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/nav-bg.png) repeat-x left -41px; color:#FFF;}
/*---UL LI:hover UL LI A---*/
ul#nav li:hover ul li a{background-image:none; padding-bottom:2px; color:#FFF;}
/*---UL LI UL LI A:hover---*/
ul#nav li:hover ul li a:hover{background:none; color:#CA3338;}
/*---UL LI UL LI A---*/
ul#nav li ul li a{background-image:none; color:#FFF; font-weight:normal; line-height:25px; text-transform:none;}
ul#nav li ul li a:hover{background-color:#f54c54; background-image:none;}

ul#nav li ul li ol{width:170px; float:left; padding:0 0 0 18px;}
ul#nav li ul.sectab li ol{padding:0 0 0 14px;}
ul#nav li ul.trdtab li ol{padding:0 0 0 27px;}
ul#nav li ul li ol li a{display:block; padding:0; width:auto !important;}

ul#nav li ul.genres table {width:660px; border-collapse:collapse;}
ul#nav li ul.genres table tr td{border:1px solid #000; padding:10px; text-align:center; color:#FFF;}
ul#nav li ul.genres table tr td a{color:#FFF; padding:0;}
ul#nav li ul.genres table tr td a:hover,
ul#nav li ul.genres table tr td a.current{color:#CA3338;}

/*===FOOTER===*/
#footer-box{display:block; padding:20px; clear:both; text-align:center;}
#footer-box .footer{display:block; margin:0 auto; border-bottom:1px solid #666; width:790px; padding:0 0 20px 0; text-align:left; margin-bottom:20px;}
.footer ul li{display:inline; padding-right:30px;}
.footer ul li a {color:#003a85; text-decoration:none;}
.footer ul li a:hover{text-decoration:underline;}
.footer ul li a.current{color:#F00;} 
/* .footer .ad-box {margin:0 0 20px 0; width:728px; height:90px; overflow:hidden;} */
.footer p{color:#666;}
#footer-shadow{display:block; height:10px; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/shadowbg.png) no-repeat center bottom; margin-bottom:10px; clear:both;}

/*=====================================
HOMEPAGE
=======================================*/
/*===SLIDER===*/
#slider-box{display:block; clear:both; background: #000 ; width:1080px; height:330px; overflow:hidden;}
#slider-box #slider{width:900px; margin:0 auto;}
#slider-box #slider a {width:890px;height:345px;}
#slider-box a.next, #slider-box a.prev{display:block;  width:28px; height:48px; text-indent:-100px; overflow:hidden; cursor:pointer; margin-top:147px;}
#slider-box a.next{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -160px top; margin-right:25px;}
#slider-box a.prev{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -131px top; margin-left:25px;}
.pager{height:28px; text-align:center; display:block; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/pager-bg.png) repeat-x; *padding-left:40px;}
.pager a {background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/pageritem.png) no-repeat center; width:20px; height:28px; line-height:28px; text-align:center; text-decoration:none; margin:0 0 0 3px; display:inline-block; color:#FFF; font-size:11px; font-weight:bold; overflow:hidden; text-indent:-40px;}
.pager a.activeSlide {background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/pageritem-current.png) no-repeat left 4px;}
.pager a:focus {outline: none; }

#content-home{display:block; padding:30px 20px; float:left; width:684px; margin-right:25px;}
#movie-detail h1, #content h1{ font-size:18px; color:#003a85; font-weight:bold; display:inline-block; padding:10px 0;}
#content-home h3{ font-size:24px; color: #B9090B; font-weight:bold; text-indent:18px; padding:10px 0;}

#seo-heading{ padding:10px 0 10px 18px; line-height:24px }
#seo-heading *{ display:inline; font-size:13px; color: #B9090B; font-weight:bold;}

#content-copy{ line-height: 19px; padding: 30px 120px; text-align: justify;}
#content-copy h2 { font-size:24px; color: #B9090B; font-weight:bold; display:inline-block; padding:10px 0;}
#content-copy p { margin: 10px 0; }
#banner-rail{float:left; width:231px; padding-top:74px;}
.ad-box{margin-bottom:30px; text-align:center; overflow:hidden;}


#movie-detail h1, #content h1{ font-size:24px; color: #B9090B; font-weight:bold; text-indent:18px; padding:10px 0;}
#content-copy h1{ font-size:24px; color: #B9090B; font-weight:bold; display:inline-block; padding:10px 0;}
#movie-detail h2{ margin:0 0 0 25px }


#slider-box a.play {
background: url(http://yify.tv/wp-content/themes/YifNew/img/playbutton.png) 50% 90px rgba(0, 0, 0, 0);
height: 238px;
width: 623px;
margin-top: -243px;
margin-left: 1px;
position: relative;
border-radius: 5px;
-webkit-transition: 0.3s;
transition: 0.3s;
display: block;
}
user agent stylesheetdiv {
display: block;
}



/*===SLIDER SMALL===*/
.slider-box-small{display:block; clear:both; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat; width:666px; height:218px; overflow:hidden; padding:10px 20px; margin-bottom:30px;}
.slider-box-small #slider-na,
.slider-box-small #slider-mp,
.slider-box-small #slider-nu,
.slider-box-small #slider-browse{width:612px; margin:0 auto;}
.slider-box-small .slide{width:612px; height:218px; overflow:hidden; background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat -10px -10px;}
.slider-box-small .right, .slider-box-small .left{display:block;  width:23px; height:39px; text-indent:9999px; overflow:hidden; margin-top:90px;}
.slider-box-small .right{float:right; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -98px top;}
.slider-box-small .left{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat;}

a#next-na, a#prev-na,
a#next-mp, a#prev-mp,
a#next-nu, a#prev-nu,
a#next-browse, a#prev-browse{display:block;  width:23px; height:39px; text-indent:-100px; overflow:hidden; cursor:pointer;}
a#next-na,
a#next-mp,
a#next-nu,
a#next-browse{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -65px top;}
a#prev-na,
a#prev-mp,
a#prev-nu,
a#prev-browse{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -32px top;}

.slide ul{height:218px; overflow:hidden;}
.slide ul li h3{position:relative; text-align:center; vertical-align:top; height:30px; width:112px; font-size:11px !important; font-weight:normal !important; line-height:14px;padding:0 !important; text-indent:0 !important}
.slide ul li{display:block; width:112px; height:218px; overflow:hidden; float:left; margin-left:17px; margin-right:27px;}
.slide ul li.last{margin-right:0;}
.slide ul li img{border:1px solid #666; margin-bottom:7px; height:150px; width:110px;}
.slide ul li span { line-height:18px; color: #ffffff; font-size: 12px; position:absolute;right:0px;left:0px;top:0px;bottom:0px;text-align:center;padding-top:37px;}
.slide ul li span:hover { text-decoration:underline;  }
.slide ul li span em { display:block; font-size: 14px; font-weight: bold; margin: 0px 1px;font-style:normal;}
.slide ul li a{color:#003a85; text-decoration:none; display:block;position:relative;}
.slide ul li a:hover{text-decoration:underline;}
.slide ul li a.bt{display:block; text-align:center; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/btns.png) no-repeat -110px top; width:104px; height:27px; margin:0 auto; line-height:25px; font-size:14px; color:#FFF;}
.slide ul li a.bt:hover{text-decoration:none;}

/*===SLIDER SMALL===*/
.slider-box-small{display:block; clear:both; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat; width:666px; height:218px; overflow:hidden; padding:10px 20px; margin-bottom:30px;}
.slider-box-small #slider-na2,
.slider-box-small #slider-mp2,
.slider-box-small #slider-nu2,
.slider-box-small #slider-browse{width:612px; margin:0 auto;}
.slider-box-small .slide{width:612px; height:218px; overflow:hidden; background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat -10px -10px;}
.slider-box-small .right, .slider-box-small .left{display:block;  width:23px; height:39px; text-indent:9999px; overflow:hidden; margin-top:90px;}
.slider-box-small .right{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -98px top;}
.slider-box-small .left{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat;}

a#next-na2, a#prev-na2,
a#next-mp2, a#prev-mp2,
a#next-nu2, a#prev-nu2,
a#next-browse2, a#prev-browse2{display:block;  width:23px; height:39px; text-indent:-100px; overflow:hidden; cursor:pointer;}
a#next-na2,
a#next-mp2,
a#next-nu2,
a#next-browse2{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -65px top;}
a#prev-na2,
a#prev-mp2,
a#prev-nu2,
a#prev-browse2{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -32px top;}

.slide ul{height:218px; overflow:hidden;}
.slide ul li h3{position:relative; text-align:center; vertical-align:top; height:30px; width:112px; font-size:11px !important; font-weight:normal !important; line-height:14px;padding:0 !important; text-indent:0 !important}
.slide ul li{display:block; width:112px; height:218px; overflow:hidden; float:left; margin-left:17px; margin-right:27px;}
.slide ul li.last{margin-right:0;}
.slide ul li img{border:1px solid #666; margin-bottom:7px; height:150px; width:110px;}
.slide ul li span { line-height:18px; color: #ffffff; font-size: 12px; position:absolute;right:0px;left:0px;top:0px;bottom:0px;text-align:center;padding-top:37px;}
.slide ul li span:hover { text-decoration:underline;  }
.slide ul li span em { display:block; font-size: 14px; font-weight: bold; margin: 0px 1px;font-style:normal;}
.slide ul li a{color:#003a85; text-decoration:none; display:block;position:relative;}
.slide ul li a:hover{text-decoration:underline;}
.slide ul li a.bt{display:block; text-align:center; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/btns.png) no-repeat -110px top; width:104px; height:27px; margin:0 auto; line-height:25px; font-size:14px; color:#FFF;}
.slide ul li a.bt:hover{text-decoration:none;}

/*===SLIDER SMALL===*/
.slider-box-small{display:block; clear:both; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat; width:666px; height:218px; overflow:hidden; padding:10px 20px; margin-bottom:30px;}
.slider-box-small #slider-na3,
.slider-box-small #slider-mp3,
.slider-box-small #slider-nu3,
.slider-box-small #slider-browse{width:612px; margin:0 auto;}
.slider-box-small .slide{width:612px; height:218px; overflow:hidden; background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat -10px -10px;}
.slider-box-small .right, .slider-box-small .left{display:block;  width:23px; height:39px; text-indent:9999px; overflow:hidden; margin-top:90px;}
.slider-box-small .right{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -98px top;}
.slider-box-small .left{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat;}

a#next-na3, a#prev-na3,
a#next-mp3, a#prev-mp3,
a#next-nu3, a#prev-nu3,
a#next-browse3, a#prev-browse3{display:block;  width:23px; height:39px; text-indent:-100px; overflow:hidden; cursor:pointer;}
a#next-na3,
a#next-mp3,
a#next-nu3,
a#next-browse3{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -65px top;}
a#prev-na3,
a#prev-mp3,
a#prev-nu3,
a#prev-browse3{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -32px top;}

.slide ul{height:218px; overflow:hidden;}
.slide ul li h3{position:relative; text-align:center; vertical-align:top; height:30px; width:112px; font-size:11px !important; font-weight:normal !important; line-height:14px;padding:0 !important; text-indent:0 !important}
.slide ul li{display:block; width:112px; height:218px; overflow:hidden; float:left; margin-left:17px; margin-right:27px;}
.slide ul li.last{margin-right:0;}
.slide ul li img{border:1px solid #666; margin-bottom:7px; height:150px; width:110px;}
.slide ul li span { line-height:18px; color: #ffffff; font-size: 12px; position:absolute;right:0px;left:0px;top:0px;bottom:0px;text-align:center;padding-top:37px;}
.slide ul li span:hover { text-decoration:underline;  }
.slide ul li span em { display:block; font-size: 14px; font-weight: bold; margin: 0px 1px;font-style:normal;}
.slide ul li a{color:#003a85; text-decoration:none; display:block;position:relative;}
.slide ul li a:hover{text-decoration:underline;}
.slide ul li a.bt{display:block; text-align:center; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/btns.png) no-repeat -110px top; width:104px; height:27px; margin:0 auto; line-height:25px; font-size:14px; color:#FFF;}
.slide ul li a.bt:hover{text-decoration:none;}

/*===SLIDER SMALL===*/
.slider-box-small{display:block; clear:both; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat; width:666px; height:218px; overflow:hidden; padding:10px 20px; margin-bottom:30px;}
.slider-box-small #slider-na4,
.slider-box-small #slider-mp4,
.slider-box-small #slider-nu4,
.slider-box-small #slider-browse{width:612px; margin:0 auto;}
.slider-box-small .slide{width:612px; height:218px; overflow:hidden; background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat -10px -10px;}
.slider-box-small .right, .slider-box-small .left{display:block;  width:23px; height:39px; text-indent:9999px; overflow:hidden; margin-top:90px;}
.slider-box-small .right{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -98px top;}
.slider-box-small .left{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat;}

a#next-na4, a#prev-na4,
a#next-mp4, a#prev-mp4,
a#next-nu4, a#prev-nu4,
a#next-browse4, a#prev-browse4{display:block;  width:23px; height:39px; text-indent:-100px; overflow:hidden; cursor:pointer;}
a#next-na4,
a#next-mp4,
a#next-nu4,
a#next-browse4{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -65px top;}
a#prev-na4,
a#prev-mp4,
a#prev-nu4,
a#prev-browse4{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -32px top;}

.slide ul{height:218px; overflow:hidden;}
.slide ul li h3{position:relative; text-align:center; vertical-align:top; height:30px; width:112px; font-size:11px !important; font-weight:normal !important; line-height:14px;padding:0 !important; text-indent:0 !important}
.slide ul li{display:block; width:112px; height:218px; overflow:hidden; float:left; margin-left:17px; margin-right:27px;}
.slide ul li.last{margin-right:0;}
.slide ul li img{border:1px solid #666; margin-bottom:7px; height:150px; width:110px;}
.slide ul li span { line-height:18px; color: #ffffff; font-size: 12px; position:absolute;right:0px;left:0px;top:0px;bottom:0px;text-align:center;padding-top:37px;}
.slide ul li span:hover { text-decoration:underline;  }
.slide ul li span em { display:block; font-size: 14px; font-weight: bold; margin: 0px 1px;font-style:normal;}
.slide ul li a{color:#000000; text-decoration:none; display:block;position:relative;}
.slide ul li a:hover{text-decoration:underline;}
.slide ul li a.bt{display:block; text-align:center; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/btns.png) no-repeat -110px top; width:104px; height:27px; margin:0 auto; line-height:25px; font-size:14px; color:#FFF;}
.slide ul li a.bt:hover{text-decoration:none;}

/*===SLIDER SMALL===*/
.slider-box-small{display:block; clear:both; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat; width:666px; height:218px; overflow:hidden; padding:10px 20px; margin-bottom:30px;}
.slider-box-small #slider-na5,
.slider-box-small #slider-mp5,
.slider-box-small #slider-nu5,
.slider-box-small #slider-browse{width:612px; margin:0 auto;}
.slider-box-small .slide{width:612px; height:218px; overflow:hidden; background: url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-box-small-bg.png) no-repeat -10px -10px;}
.slider-box-small .right, .slider-box-small .left{display:block;  width:23px; height:39px; text-indent:9999px; overflow:hidden; margin-top:90px;}
.slider-box-small .right{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -98px top;}
.slider-box-small .left{float:left; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat;}

a#next-na5, a#prev-na5,
a#next-mp5, a#prev-mp5,
a#next-nu5, a#prev-nu5,
a#next-browse5, a#prev-browse5{display:block;  width:23px; height:39px; text-indent:-100px; overflow:hidden; cursor:pointer;}
a#next-na5,
a#next-mp5,
a#next-nu5,
a#next-browse5{float:right; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -65px top;}
a#prev-na5,
a#prev-mp5,
a#prev-nu5,
a#prev-browse5{float:left; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/slider-arrows.png) no-repeat -32px top;}

.slide ul{height:218px; overflow:hidden;}
.slide ul li h3{position:relative; text-align:center; vertical-align:top; height:30px; width:112px; font-size:11px !important; font-weight:normal !important; line-height:14px;padding:0 !important; text-indent:0 !important}
.slide ul li{display:block; width:112px; height:218px; overflow:hidden; float:left; margin-left:17px; margin-right:27px;}
.slide ul li.last{margin-right:0;}
.slide ul li img{border:1px solid #666; margin-bottom:7px; height:150px; width:110px;}
.slide ul li span { line-height:18px; color: #ffffff; font-size: 12px; position:absolute;right:0px;left:0px;top:0px;bottom:0px;text-align:center;padding-top:37px;}
.slide ul li span:hover { text-decoration:underline;  }
.slide ul li span em { display:block; font-size: 14px; font-weight: bold; margin: 0px 1px;font-style:normal;}
.slide ul li a{color:#003a85; text-decoration:none; display:block;position:relative;}
.slide ul li a:hover{text-decoration:underline;}
.slide ul li a.bt{display:block; text-align:center; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/btns.png) no-repeat -110px top; width:104px; height:27px; margin:0 auto; line-height:25px; font-size:14px; color:#FFF;}
.slide ul li a.bt:hover{text-decoration:none;}


/*===GENRES NAV BOX===*/
#genres{display:block; clear:both; background:url(http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/genres-bg.png) no-repeat; width:666px; height:179px; overflow:hidden; padding:15px 20px; margin-bottom:30px;}
#genres table {width:666px; border-collapse:collapse;}
#genres table tr td{border:2px solid #B9090B; text-align:center; color:#FFF; font-size:14px; line-height:32px; padding:5px;}
#genres table tr td a{color:#003a85; text-decoration:none;}
#genres table tr td a.current{color:#F00;}
#genres table tr td a:hover{text-decoration:underline;}

/*===GENRES FOOTER BOX===*/
#genreBox{display:block; clear:both; margin-bottom:30px; position:relative;}
.genreBoxTop { background:url(img/genrebox-top.png) no-repeat; position:absolute; top:0px; width:706px; height:88px;}
.genreBoxBottom { background:url(img/genrebox-bottom.png) no-repeat 0 bottom; width:706px; position:absolute; top:88px; bottom:0px;}
.genreBoxContent { padding:15px 20px; position:relative;}
.genreBtn { position:relative;float:left;}
.genreBtn a { background:url(img/genreBtn.png) no-repeat; width:174px; height:36px; display:block; margin:12px 22px; color:#ffffff; text-decoration:none; line-height:27px; text-align:center; }

/*=====================================
MOVIE DETAIL
=======================================*/
#movie-detail{display:block; width:940px; border-bottom:1px solid #003a85; padding:30px 0; margin:0 auto; }
#movie-detail #movie{width:890px; display:block; margin:20px auto 0 auto; overflow:hidden; padding-bottom:10px;position:relative;}
#movie-detail .ad-box {margin-bottom:20px;}
#movie-detail #details{display:block; padding:0 25px;}
#movie-detail #details #summary{padding:0 0 0 45px; color:#000; float:left; width:150px;}
#movie-detail #details #summary strong{display:block; font-size:14px; font-weight:bold; color:#003a85; padding-top:10px; margin-left:0}
#movie-detail #details #summary p span{line-height:20px;padding-top:5px;font-size:14px;}
#movie-detail #details #txt{float:left; width:362px; padding:16px 22px 0 10px; line-height:20px; font-size:16px; text-align:justify;}
#movie-detail #details #txt p{padding-bottom:25px;}

/*=====================================
ABOUT
=======================================*/
#content{padding:30px 15px;}
#content p{padding:0 18px 25px 18px; line-height:18px; color:#000;}
#content img.right{float:right; padding:20px 0 20px 20px;}
#content h1{padding-bottom:20px;}


/*=====================================
Upload
=======================================*/

.upload-button {
background: url('https://dl.dropboxusercontent.com/u/12447336/b4/up-but.png') repeat-x top;
height: 38px;
border: 1px solid #B9090B;
display: block;
font-weight: bold;
text-align: center;
color: #e1e1e1;
text-shadow: 0 -1px rgba(5,17,22,0.75);
font-size: 22px;
line-height: 38px;
margin-bottom: 12px;
text-decoration: none;
/*=====================================
BROWSE
=======================================*/
#browse-box{display:block; position:relative;}
#browse-box #browse{width:942px; height:735px; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-bg.jpg) no-repeat; margin:0 auto; padding:12px 0 13px 0;}

#browse-box .options{color:#003a85; font-size:11px; text-indent:18px; padding:10px 0;clear:both;}
#browse-box .options p{line-height:12px; padding:0; color:#003a85;}
#browse-box .options p.sort{float:right; width:250px; text-align:right; padding-right:20px;}
#browse-box .options p.sort a{text-indent:0; margin:0 5px; text-decoration:none;}
#browse-box .options p.sort a:hover{text-decoration:underline;}
#browse-box .options p.sort a.current{font-weight:bold;}
#browse-box .options p.sort a.current:hover{ text-decoration:none; cursor:default;}
#browse-box .options a{display:inline-block; height:12px; color:#003a85; margin-right:5px; text-indent:-90px; overflow:hidden; text-decoration:none;}
#browse-box .options a:hover{ text-decoration:none;}
#browse-box .options a.first{width:10px; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat; margin-left:10px; }
#browse-box .options a.first.inactive{background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat -28px top; }
#browse-box .options a.prv{width:8px; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat -15px top; }
#browse-box .options a.prv.inactive{background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat -43px top; }
#browse-box .options a.nxt{width:8px; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat -84px top; }
#browse-box .options a.nxt.inactive{background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat -56px top; }
#browse-box .options a.last{width:10px; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat -97px top; }
#browse-box .options a.last.inactive{background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/browse-arrows.png) no-repeat -69px top; }

#browse ul li h3{position:relative; text-align:center; vertical-align:top; height:44px; width:112px; font-size:11px; font-weight:normal; line-height:14px; padding:0;}
.slide ul li h3 a, #browse ul li h3 a {position:absolute;bottom:4px; z-index:1; left:0px; right:0px;}
#browse ul li{display:block; width:112px; height:229px; overflow:hidden; float:left; margin-left:64px; margin-bottom:25px; display:inline;}
#browse ul li.last{margin-right:0;}
#browse ul li img{border:1px solid #666; margin-bottom:7px; height:150px; width:110px;}
#browse ul li a{color:#003a85; text-decoration:none;}
#browse ul li a:hover{text-decoration:underline;}
#browse ul li a.bt{display:block; text-align:center; background:url(https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/btns.png) no-repeat -110px top; width:104px; height:27px; margin:0 auto; line-height:25px; font-size:14px; color:#FFF;}
#browse ul li a.bt:hover{text-decoration:none;}
.ajax-loader {display:none; 
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    display: none;
    height: 760px;
    position: absolute;
    top: 227px;
    width: 950px;
    z-index: 2;
    }
    .ajax-loader img {
		display:block;
		margin:300px 0 0 400px;
    }
.options a {
	cursor:pointer;
}
.options a.inactive {
	cursor:default;
}
.DetailHover {
	display:none;
	min-height:22px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10000;
	width:337px;
	font-size:11px;
	background:url('https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/md-box-top.png') no-repeat 0px 0px;
}
.HoverLeft {
	padding-right:32px;
	background-position:left top;
}
.HoverRight {
	padding-left:32px;
	background-position:right top;
}
	.DHArrow {
		height:66px;
		width:47px;
		position:absolute;
		top:85px;
		bottom:0px;
		z-index:1;
	}
	.HoverLeft .DHArrow {
		right:0px;
		background-image:url('https://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/md-arrow-right.png');
	}
	.HoverRight .DHArrow {
		left:0px;
		background-image:url('http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/md-arrow-left.png');
	}
	.DHInner {
		position:absolute;
		width:337px;
		top:22px;
		background:url('http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/md-box-bottom.png') no-repeat 0 bottom;
	}
		.DHGradTop {
			position:absolute;
			width:307px;
			height:51px;
			top:-7px;
			left:15px;
			background:url('http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/md-gradient-top.png') no-repeat 0 0;
		}
		.DHGradBottom {
			width:307px;
			height:45px;
			position:absolute;
			bottom:15px;
			left:15px;
			background:url('http://dl.dropbox.com/u/12447336/tha%20nu/next%20gen%20images/md-gradient-bottom.png') no-repeat 0 0;
		}
		.DHContent {
			position:relative;
			z-index:2;
			padding:8px 31px 22px;
		}
			.detailTitle {
				color:#003a85;
				font-weight:bold;
				font-size:11px;
			}
			.mTitle { 
				color:#003a85;
				font-weight:bold;
				font-size:15px;
				margin:0 0 6px;
			}
			.mRating { 
				/* border-right: 1px solid #003A85; */
				float: left;
				margin-right: 5px;
				padding-right: 5px;
			}
			.mDuration  { 
				margin:0 0 5px;
			}
			.mShortDescription { 
				margin:0 0 8px;
				line-height:15px;
			}
			.DetailHover .Col1 { 
				float: left;
				margin-right: 20px;
				width: 125px;
			}
				.detailSchool {
					display:none;
				}
				.mGenres,
				.mLanguage,
				.mDirector,
				.mSchool { 
					line-height:15px;
					margin:5px 0 7px;
				}
			.DetailHover .Col2 { 
				float: left;
				width: 125px;
			}
				.mCast { 
					margin:5px 0 7px;
					line-height:14px;
				}
.CheckForm,
.Message {
	width:400px;
	margin:auto;
	padding:40px 0;
	text-align:center;
}
	.FormHead {
		line-height: 21px;
		margin: 0 0 15px;
	}
	.Rating {
	}
	.Rating div {
		margin:10px auto;
		background-image:url('../images/rating.jpg');
		height: 34px;
		width: 90px;
	}
	.Rating div.g {
		background-position:-9px 0;	
	}
	.Rating div.pg {
		background-position:-112px 0;	
	}
	.Rating div.pg13 {
		background-position:-215px 0;	
	}
	.Rating div.r {
		background-position:-319px 0;	
	}
	.Rating div.nc17 {
		background-position:-422px 0;	
	}
	.CheckForm select,
	.CheckForm input {
		margin-right:5px;
	}
	.CheckForm .Submit {
		background: url("img/btns.png") no-repeat scroll -110px top transparent;
		color: #FFFFFF;
		cursor: pointer;
		font-size: 14px;
		height: 27px;
		line-height: 25px;
		margin: 0 auto;
		text-align: center;
		width: 104px;
		border:0px;
		padding-bottom:6px;
	}
	
.ad-float-right iframe
{
    float:right
}

